@import url("style.css");
:root {
  --color-font: #333;
}
.doc-container {
  display: flex;
}
main {
  padding: 1rem;
}
section {
  min-height: 50vh;
  border: 2px solid var(--color-primary);
  padding: 1rem;
  margin: 1rem;
}
.navbar {
  /* position: sticky; */
  top: 0;
}
.sidebar {
  background-color: var(--color-background);
  flex-basis: 20%;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
}
.main-container {
  flex-basis: 80%;
}
.sidebar-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
.sidebar-list-item {
  color: var(--color-primary);
  border: 2px solid var(--color-background);
  padding: 0.5rem;
  width: 100%;
}
.sidebar-list-item:hover{
  border: 2px solid var(--color-primary);
}
.component-demo {
  padding: 1rem 0rem;
}
.component-title {
  font-size: 2rem;
  padding: 0rem 0.5rem;
  color: var(--color-font);
}
.component-description {
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.63);
}
.component-code {
  width: 100%;
  height: 16rem;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
.badge-output-container{
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
}
.button-output-container,
.card-output-container,
.avatar-output-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}
.img-container{
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.input-container{
  display: flex;
  margin: 1rem;
}
.sub-heading{
  margin:1rem;
}