@import url('style.css');

.doc-container{
    display: flex;

}
.sidebar{
    padding: 1rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
}
section{
    min-height: 50vh;
}