@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');
:root {
    --font-size: 1.3rem;
    --color-primary: #e76f43;
    --color-white: #eeeeee;
    --color-background: #e4e4e4;
    --color-black: #000000de; 
    --color-dark-gray: #808080;
    --sans: Oxygen, sans-serif;
    --font-logo: Prompt;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--sans);
    font-size: 16px;
}
h1{
    margin-bottom: 1rem;
    color: var(--color-black);
}
a{
    text-decoration: none;
    font-size: large;
    color: var(--color-white);
}
a:hover{
    opacity: .8;
}
p{
    font-size: 1.4rem;
}
ul{
    list-style-type: none;
}
.navbar{
    background: var(--color-primary);
    height: 4rem;
}
.nav-container{
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-logo{
    font-size: x-large;
    font-family: var(--font-logo);
    color: var(--color-white);
}
.nav-list-container{
    margin-left: auto;
}
.nav-list{
    display: flex;
    gap: 1rem;
}
.header-container{
    display: flex;
    background-color: var(--color-background);
}
.header-container div:nth-child(1){
    padding: 2rem;
}
.header-image{
    width: 50%;
    padding: 1rem;
}
.header-container p{
    color: rgba(0, 0, 0, 0.63);
}
.div-cta-container{
    background-color: var(--color-background);
    display: flex;
    padding: 0 2rem 2rem;
    justify-content: flex-start;
    gap: 1rem;
}
.btn-homepage{
    cursor: pointer;
    padding: 0.5rem;
    color: var(--color-black);
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bolder;
    border: 2px solid var(--color-primary);
}
.btn-homepage:hover{
    background-color: var(--color-primary);
    color: white;
}
.btn-homepage-primary{
    background-color: var(--color-primary);
}
.installation-container{
    padding: 2rem;
}